[user]
	name = rstagi
	email = r.stagi96@gmail.com
	signingkey = /Users/rstagi/.ssh/id_ed25519.pub
[credential]
	helper = osxkeychain
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[gpg]
	format = ssh
[gpg "ssh"]
	program = ssh-keygen
[commit]
	gpgsign = true
[url "ssh://git@github.com"]
	insteadOf = https://github.com
